.container {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
}

.coverImage {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .container {
    grid-template-columns: auto 40vw;
  }

  .main {
    border-right: 1px solid #171717;
    min-height: calc(100vh - 134px);
  }

  .coverImage {
    display: block;
    position: fixed;
    top: 134px;
    width: 40vw;
    height: calc(100vh - 134px);
    animation: 1.5s fadeIn;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
