.container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 36px 24px;
  z-index: 2;
  background-color: white;
  border-bottom: 1px solid #171717;
  transition: background-color 0.5s ease;
}

.logo {
  position: fixed;
  left: 24px;
  top: 36px;
  z-index: 0;
}

.links {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  list-style-type: none;
  gap: 56px;
  top: 0;
  left: 100vw;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  transition: left 0.5s;
  padding: 84px 36px 36px;
}

.open {
  left: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  width:15px;
  height: 15px;
  border: 0;
  background: transparent;
  gap: 4px;
  z-index: 10;
  justify-content: center;
}

.menu > div {
  background-color: #171717;
  height: 1px;
  width: 100%;
  transition: all .5s;
  transform-origin: left;
}

.menuClose div:first-child{
  transform: rotate(45deg);
}

.menuClose div:last-child{
  transform: rotate(-45deg) translate(-4px, 4px);
}

@media (max-width: 800px) {
  .transparent {
    background-color: transparent;
    border-bottom: 0;
  }
}

@media (min-width: 800px) {
  .container {
    padding: 56px;
    background-color: #fff;
    z-index: 1;
  }

  .menu {
    display: none;
  }

  .closeBtn {
    display: none;
  }

  .links {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: auto;
    height: auto;
    transition: none;
    left: initial;
    padding: 0;
    margin-top: 0;
  }

  .link {
    color: #171717;
    text-transform: uppercase;
  }

  .logo {
    left: 56px;
    top: 56px;
  }

  .item {
    position: relative;
  }

  .indicator {
    position: absolute;
    bottom: -8px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
    transition: left 0.3s ease, width 0.3s ease;
  }
}
