.container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 20px;
  z-index: 2;
  background-color: white;
  border-bottom: 1px solid #171717;
  transition: background-color 0.5s ease;
}

.logo {
  position: fixed;
  left: 24px;
  top: 20px;
  z-index: 0;
}

.containerLinks {
  position: fixed;
  background-color: #fff;
  top: 56px;
  left: 100vw;
  width: 100vw;
  height: calc(100vh - 56px);
  z-index: 5;
  transition: left 0.5s;
  display: grid;
  grid-template-rows: 1fr auto;
}

.links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 24px;
  padding: 84px 36px 36px;
  align-items: center;
  justify-content: center;
}

.open {
  left: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 15px;
  height: 15px;
  border: 0;
  background: transparent;
  gap: 4px;
  z-index: 10;
  justify-content: center;
}

.menu > div {
  background-color: black;
  height: 1px;
  width: 100%;
  transition: all 0.5s;
  transform-origin: left;
}

.menuClose div:first-child {
  transform: rotate(45deg) translate(0px, -4px);
}

.menuClose div:last-child {
  transform: rotate(-45deg) translate(0px, 4px);
}

.link {
  text-transform: uppercase;
}

.menuFooter {
  display: grid;
  grid-template-rows: 1fr auto;
  border-top: 1px solid;
  padding: 40px 20px;
  gap: 20px;
}

.underlined {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .transparent {
    background-color: transparent;
    border-bottom: 0;
  }
}

@media (min-width: 768px) {
  .menuFooter {
    display: none;
  }

  .container {
    padding: 20px 40px;
    background-color: #fff;
    z-index: 1;
  }

  .menu {
    display: none;
  }

  .closeBtn {
    display: none;
  }

  .containerLinks {
    position: relative;
    top: 0;
    width: auto;
    height: auto;
    transition: none;
    left: initial;
  }

  .links {
    flex-direction: row;
    gap: 40px;

    padding: 0;
    margin-top: 0;
  }

  .link {
    display: block;
    color: #171717;

    padding: 14px 0 8px 0;
  }

  .logo {
    left: 56px;
    top: 32px;
    width: 160px;
  }

  .item {
    position: relative;
  }

  .indicator {
    position: absolute;
    bottom: 0px;
    height: 4px;
    width: 4px;
    background-color: black;
    border-radius: 50%;
    transition: left 0.3s ease, width 0.3s ease;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 20px 56px;
  }
}
