.secondary {
  display: none;
}

.contact,
.info {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 48px 40px;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.contact,
.description,
.title {
  color: #4d4d4d;
  font-size: 16px;
  font-weight: normal;
}

.contact {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  margin-bottom: 56px;
}

.description {
  margin-left: 68px;
  text-align: justify;
}

.secondaryImage {
  display: none;
}

.coverImage {
  background-color: #fff;
}

.logo {
  display: none;
}

.container {
  height: calc(100vh - var(--header-height));
  display: flex;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .imageSmallScreen {
    display: none;
  }

  .secondary {
    display: block;
  }

  .container {
    display: grid;
    grid-template-columns: 40vw auto;
  }

  .coverImage {
    position: fixed;
    top: 0;
    width: 40vw;
    z-index: 1;
    height: 100vh;
    border-right: 1px solid #171717;
  }

  .secondaryImage,
  .image {
    position: relative !important;
  }

  .main {
    position: relative;
    grid-template-columns: 0.9fr 1.1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    justify-content: initial;
    animation: none;
    z-index: 0;
    min-height: calc(100vh - 134px);
  }

  .borderInfo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 54px;
    gap: 16px;
  }

  .contact {
    gap: 12px;
    align-self: flex-end;
  }

  .description {
    align-self: flex-end;
    max-width: 426px;
    margin-left: 0;
    text-align: justify;
  }

  .contact,
  .info {
    background-color: transparent;
  }

  .secondaryImage {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    height: 100%;
  }

  .title {
    margin-bottom: 0;
  }

  .logo {
    display: block;
    position: fixed;
    top: 24px;
    left: 40px;
    z-index: 1;
  }
}

@media (min-width: 1440px) {
  .contact {
    padding: 56px;
  }

  .logo {
    left: 56px;
  }
}
