.secondary {
  display: none;
}

.contact,
.info {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 40px;
}

.main {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 200vh;
  animation: 1s forwards slidein;
  animation-delay: 0.15s;
}

.contact,
.description,
.title {
  color: #4d4d4d;
  font-size: 16px;
  font-weight: normal;
}

.title {
  margin-bottom: 56px;
}

.description {
  margin-left: 36px;
  text-align: justify;
}

.info {
  border-bottom: 1px solid #171717;
}

.secondaryImage {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
}

.coverImage {
  background-color: #fff;
}

.secondaryImage {
  animation: 1.5s fadeIn;
}

@keyframes slidein {
  from {
    height: calc(200vh - 88px);
  }

  to {
    height: calc(100vh - 88px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .secondary {
    display: block;
  }

  .container {
    display: grid;
    grid-template-columns: 40vw auto;
    height: 100%;
  }

  .coverImage {
    position: fixed;
    top: 0;
    width: 40vw;
    z-index: 1;
    height: 100vh;
    border-right: 1px solid #171717;
  }

  .secondaryImage,
  .image {
    position: relative !important;
  }

  .main {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    height: auto;
    justify-content: initial;
    animation: none;
    z-index: 0;
    min-height: calc(100vh - 134px);
  }

  .info {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 54px;
    gap: 16px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
    align-self: flex-end;
    padding: 54px;
  }

  .description {
    align-self: flex-end;
    max-width: 542px;
    margin-left: 0;
  }

  .logo {
    position: fixed;
    top: 31px;
    left: 56px;
    z-index: 1;
  }

  .contact,
  .info {
    background-color: transparent;
  }

  .secondaryImage {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    height: 25vw;
  }

  .title {
    margin-bottom: 0;
  }
}
