.secondary {
  display: none;
}

.contact,
.info {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 40px;
}

.main {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 200vh;
  animation: 1s forwards slidein;
  animation-delay: 0.2s;
}

.contact,
.description,
.title {
  color: #4D4D4D;
  font-size: 16px;
  font-weight: normal;
}

.title {
  margin-bottom: 56px;
}

.description {
  margin-left: 36px;
  text-align: justify;
}

.info {
  border-bottom: 1px solid #171717;
}

.secondaryImage {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  animation: 2s fadeIn;
}

@keyframes slidein {
  from {
    height: 200vh;
  }

  to {
    height: 100vh;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (min-width: 600px) {
  .secondary {
    display: block;
  }

  .container {
    display: grid;
    grid-template-columns: 30vw auto;
    height: 100%;
  }
  
  .coverImage {
    position: fixed;
    top: 0;
    width: 30vw;
    z-index: 1;
    height: 100vh;
    border-right: 1px solid #171717;
  }
  
  .secondaryImage,
  .image {
    position: relative !important;
  }
  
  .main {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    height: auto;
    justify-content: initial;
    animation: none;
  }
  
  .info {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 54px;
    gap: 16px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
  }
  
  .description {
    align-self: flex-end;
    max-width: 542px;
    margin-left: 0;
  }
  
  .logo {
    position: fixed;
    top: 56px;
    left: 56px;
    z-index: 1;
  }
  
  .contact {
    align-self: flex-end;
    padding: 54px;
  }
  
  .secondaryImage {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    height: 429px;
  }

  .title {
    margin-bottom: 0;
  }
}