.container {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
}

.coverImage {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
}

.containerInfo {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 1px solid #171717;
  padding: 40px;
}

.containerInfo br {
  display: none;
}

.containerInfo:last-of-type {
  border-bottom: none;
}

.number {
  align-self: flex-end;
}

.description {
  text-align: justify;
  padding-top: 16px;
  padding-left: 36px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 800px) {
  .container {
    grid-template-columns: auto 40vw;
  }

  .containerInfo br {
    display: block;
  }

  .main {
    border-right: 1px solid #171717;
  }

  .coverImage {
    display: block;
    position: fixed;
    top: 134px;
    width: 40vw;
    height: calc(100dvh - 134px);
    animation: 1.5s fadeIn;
    overflow: hidden;
  }

  .containerInfo {
    grid-template-columns: 1fr 1fr;
    padding: 54px;
    min-height: 330px;
  }

  .description {
    padding: 0;
  }
}
