.container {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
}

.coverImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.containerInfo {
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px;
  z-index: 10;
  background-color: white;
}

.containerInfo br {
  display: none;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 80px 56px;
  z-index: 10;
  background-color: white;
  gap: 20px;
}

.borderAnimation {
  z-index: 10;
  margin: 20px;
}

.number {
  align-self: flex-end;
}

.description {
  text-align: justify;
  padding-top: 16px;
}

.borderRightFooter {
  display: none;
}

.h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 800px) {
  .footer {
    flex-direction: row;
    gap: 40px;
  }

  .hideBorderLeft,
  .hideBorderBottom,
  .hideBorderTop {
    display: none;
  }

  .borderRightFooter,
  .hideBorderRight {
    display: block;
  }

  .container {
    grid-template-columns: auto 40vw;
  }

  .containerInfo br {
    display: block;
  }

  .coverImage {
    display: block;
    position: fixed;
    top: var(--header-height);
    width: 40vw;
    height: calc(100dvh - var(--header-height));
    animation: 2s fadeIn;
    overflow: hidden;
    left: inherit;
  }

  .containerInfoBorder {
    grid-template-columns: 1fr 1fr;
  }

  .containerInfo {
    padding: 54px;
    min-height: 330px;
    grid-template-columns: 1fr 2fr;
  }

  .description {
    padding: 0;
  }

  .borderAnimation {
    margin: 0;
  }

  .main {
    padding: 0;
  }
}
