.imageContainer {
  position: relative;
  display: flex;
}

.image {
  width: 100%;
  height: auto;
}

.imageContainer {
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
